<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" type="text/css" href="./static/css/style.css">-->
    <title>Flask demo</title>
</head>
<body>
<!--提交微博id的表单-->
<div>
    <input type="text" name="uid" class="search" placeholder="微博用户ID">
    <input type="button" class="submit" value="返回数据">

    <button id="post_btn">发送post请求</button>
</div>
<div id="box">
    <p class="get"> </p>
	<p class="post"> </p>
    <img src="" alt="">
</div>


<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script>
    // # uid： 2286908003
    //localhost IP 
	//封装的ajax请求的方法
    var public_ajax={
        // get 请求  会显示在url里 
        call_request_get:function(ajax_method, url, callback) { //（ 请求方式，  请求的url，  请求成功后的处理函数 ）
                $.ajax({
                    type:"get",
                    url:url,
                    async:true,
                    //timeout:300,
                    dataType:"json",
                    success:callback,
                    error:function (xhr, textStatus, errorThrown) {
                        //请求失败执行的函数
                        console.log("请求失败",textStatus,errorThrown);
                    },

                    global:false//是否触发全局请求,需要触发就是true,不需要false
                });
            },

        // post 请求 ，适合前端 往后台 传信息量多的东西
        call_request_post:function(ajax_method, url, data, callback){
            $.ajax({
                type: "post",
                url: url,
                async:true,
                //timeout:300,
                data: JSON.stringify(data),//传参数
                contentType:'application/json',
                dataType:"json",
                success:callback,
                error:function (xhr, textStatus, errorThrown) {
                    //请求失败执行的函数
                    console.log("请求失败",textStatus,errorThrown);
                },
                global:false//是否触发全局请求,需要触发就是true,不需要false
            });
        }
    };
	
	$('#box img').hide();
	// 点击调用
    $('.submit').on('click',function () {
        var profit_url = '/test/get?uid=' + $('.search').val();//请求的url  /test/query由后台定义。uid是后台需要的参数
        public_ajax.call_request_get('get',profit_url,get_function); //前端 发起请求
        $('#box img').show();
    });
    //请求成功后 渲染页面
	function get_function(data) {
		$('#box p.get').html(JSON.stringify(data));
		$('#box img').attr('src', '../static/images/wordcloud.jpg')
	}
    
    // post 请求测试  ---------
    $('#post_btn').on('click',function(){
        var post_url = '/test/post';   //
        // 发送的数据
        var postData = [
            {'name':'xiaoming1','age':12},
            {'name':'xiaoming2','age':14},
            {'name':'xiaoming3','age':18},
        ]
        public_ajax.call_request_post('POST', post_url, postData, post_function); //前端 发起请求
    })
    function post_function(data){
        $('#box p.post').html(JSON.stringify(data));
    }



</script>
</body>
</html>